@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

/*font-family: 'Audiowide', cursive;
font-family: 'Montserrat', sans-serif;*/



/*Padding and Margins*/
.no-padding {
    padding: 0;
}

/*Sizing*/
#logo img {
    width: 10rem;
}

section {
    background: blue;
}
